project: {{.Project}}
region: us-east-1

functions:
  hello:
    runtime: nodejs20.x
    handler: index.handler
    codeDir: functions/hello
    timeout: 5

triggers:
  - type: http
    method: GET
    path: /hello
    function: hello
